:root {
    --base-font-family: 'Noto Sans JP', sans-serif;
    --title-font-size: 70px;
    --navy: #001E62;
    --yellow: #F1C400;
    --white: #FFFFFF;
}
* {
    -webkit-appearance: none;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background-image: url("img/mita.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    height: 12vh;
    width: auto;
    margin-top: 20px;
}
#credit {
    position: fixed;
    left: 10px;
    bottom: 10px;
    font-family: var(--base-font-family);
    font-size: 12px;
}

/* 背景選択 */
.back-switch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#back-text{
    text-align: center;
    font-family: var(--base-font-family);
    font-size: 25px;
    font-weight: bold;
    color: var(--navy);
    text-shadow: 1px 1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px -1px 0 var(--white);
}
.back-btn{
    display: flex;
    text-align: center;
}
#btn0{
    width: 100px;
    height: 60px;
    margin-left: 20px;
    background: var(--yellow);
    color: var(--navy);
    border-color: var(--navy);
    border-radius: 10px;
    font-family: var(--base-font-family);
    font-size: 20px;
    font-weight: bold;
}

/* 牧場 */
.field {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.horse {
    display: flex;
    flex-flow: column;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none; /* Safari, Chromeなど */
    -ms-user-select: none;     /* IE 10+ / Edge */
    -moz-user-select: none;    /* Firefox */
    -webkit-touch-callout: none; /* iOS Safariでの長押しメニュー無効化 */
}
.horse-img{
    /* height: 20vh;
    width: auto; */
    width: 18vw;
    height: auto;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none; /* Safari, Chromeなど */
    -ms-user-select: none;     /* IE 10+ / Edge */
    -moz-user-select: none;    /* Firefox */
    -webkit-touch-callout: none; /* iOS Safariでの長押しメニュー無効化 */
    will-change: transform;
}
.bubble {
    display: none;
    position: relative;
    background: var(--white);
    font-family: var(--base-font-family);
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;  
}
.bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid var(--white);
}
.horse:hover .bubble {
    display: block;
    z-index: 10;
}


/* 馬のアニメーション */
@keyframes walk-right {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(100vw); }
}
@keyframes walk-left {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(-200px); }
}
.walk-right {
    animation: walk-right 60s linear infinite;
}
.walk-left {
    animation: walk-left 60s linear infinite;
}
@keyframes shake {
    0% { transform: rotate(0deg) scale(1.3); }
    25% { transform: rotate(2deg) scale(1.3); }
    50% { transform: rotate(-2deg) scale(1.3); }
    75% { transform: rotate(1deg) scale(1.3); }
    100% { transform: rotate(0deg) scale(1.3); }
}
.shake {
    animation: shake 0.3s infinite;
}

/* エフェクト */
.effect {
    position: absolute;
    pointer-events: none;
    animation: fadeUp 2.0s ease-out forwards;
    font-size: 30px;
    z-index: 9999;
}
.effect img {
    width: 100px;
    height: auto;
}
.heart {
    position: absolute;
    font-size: 30px;
    z-index: 9999;
}
@keyframes fadeUp {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-40px); }
}


/* モーダル (現時点使用していない) */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 600px;
}
.modal-content img {
    width: 500px;
    height: auto;
}
#close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 40px;
    cursor: pointer;
}
